main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #FFD07B;
  --secondary: #B1740F;
  --tertiary: #296EB4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: auto 10px;
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.navActive {
  color: var(--primary);
  background-color: var(--tertiary);
  border-radius: 25px;
  padding: 10px;
}

nav  li {
  cursor: pointer;
  list-style: none;
}

.mx-2 {
  margin: 0px 5px;
}

#profilePic {
  border-radius: 10px 100px / 120px;
  width: auto;
  height: auto;
  max-height: 300px;
  max-width: 300px;
  margin-bottom: 50px;
  cursor: pointer;

}

.my-projects h2 {
  font-size: 45px;
  background: var(--secondary);
  color: var(--tertiary);
}

.my-projects {
  justify-content: space-around;
  text-align: center;
}
.my-projects ul { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.my-projects ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px;
  margin: 10px 10px;
  justify-content: space-around;
  border: solid 5px var(--tertiary);
  border-radius: 10%;
  background: var(--secondary);
  max-width: 300px;
}

.my-projects h3 {
  font-size: 30px;
}

.my-projects img {
  max-width: 100%;
  max-height: auto;
  border: solid 5px var(--tertiary);
  border-radius: 10%;
}
